.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-col {
    margin-top: 1rem;

    .user-header {
      display: flex;
      align-items: flex-end;
      img {
        max-width: 10%;
      }
    }
  }
}
